<%- include('../partials/header'); -%>

    <div id="crop-container" class="container ">
        <div class="masonry row" style="position: relative;"> 
            <div class="title col s12" style="position:absolute;">
                Pest
            </div>
            <div class="col s12" style="position: absolute; left:0; top: 50px;" >
                
                <div class="row">
                    <a  href="/addpest/select" class="waves-effect waves-light btn-small margin-top-button right"><button class="no-default white-text">Add Pest</button></a>
                    <% if(lang === 'gujrati'){ %>
                        <a  href="/pest/english" class="waves-effect waves-light btn-small btn-flat margin-top-button right">Switch to English</a>
                      
                    <% } else if(lang === 'english'){ %>
    
                        <a  href="/pest/gujrati" class="waves-effect waves-light btn-small btn-flat margin-top-button right">Switch to Gujrati</a>
                    <% } %>
                    <table class="striped col s12 m12 l10 offset-l3 table-margin">
                        <thead>
                          <tr>
                              <th>Pest </th>
                              <th>Image </th>
                              <th>Pest Group</th>
                              <th>Chemicals Linked</th>
                              <th>Sort Order</th>
                              <th>Active Status</th>
                          </tr>
                        </thead>
                        <tbody id="crop-list">
                            <% snapshot.docs.forEach(doc =>{ %>
                                
                          <tr>
                              <td class="text-overflow"><a href="/pest/show/<%= doc.data().language %>/<%= doc.id %>"> <%= doc.data().name %></a></td>
                              <td> <img class="avatar-style" src="<%= doc.data().image %>" alt="img"> </td>
                              <td>
                                <% pestg.docs.forEach(docg =>{ %>
                                    <% let l = doc.data().linkedPestGroupId.length %>
                                    <% if (typeof(doc.data().linkedPestGroupId) === 'string'){ l = 1 }%>
                                    <% for( let i = 0; i < l ; i++) { %>
                                    <% if(l === 1){  %>
                                        <%  if(doc.data().linkedPestGroupId === docg.id){  %>
                                            <%= docg.data().name %>
                                    <% }} else if(doc.data().linkedPestGroupId[i] === docg.id){ %>
                                        <%= docg.data().name %>
                                    <% }}}) %>
                              </td>
                              <td>
                                <% let l = doc.data().linkedChemicalProdId.length %>
                                <% if (typeof(doc.data().linkedChemicalProdId) === 'string'){ %>
                                    <%= 1 %>
                                    <% } else { %>
                                        <%= l %>
                                    <% } %>
                              </td>
                              <td class="text-overflow"> <%= doc.data().sortOrder %> </td>
                              <td>
                                <% if(doc.data().active === 'true'){ %>
                                    <i class="material-icons green-text">check</i>  
                               <% } else { %>
                                    <i class="material-icons red-text">do_not_disturb_alt</i>  
                               <% } %> 
                              </td>
                             
                              <td>
                                <div class="horizontal-align">
                                    <a href="/pest/edit/<%= doc.data().language %>/<%= doc.id %>"><span class="style-cross"><i class="material-icons">edit</i></span></a>


                                    <form action="/pest/delete/<%= doc.data().language %>/<%= doc.id %>" method="POST">
                                        <button class="no-default-icon">
                                            <span class="style-cross"><i class="material-icons">delete</i></span>
                                        </button>
                                    </form>
                                    
                                </div>
                              </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                </div>
               
            </div>
            
  
            
        </div>
      
                
    
    </div>
   


    <%- include('../partials/footer'); -%>

    <script>
        $(document).ready(function(){
        $('.sidenav').sidenav();
        });
    </script>
</body>
</html>