<%- include('../partials/header'); -%>


    <div id="crop-container" class="container ">
        <div class="masonry row" style="position: relative;">
            <div class="title col s12" style="position:absolute;">
                Edit Chemical Product
            </div>
            <div class="col s12" style="position: absolute; left: 0; top: 50px;">
                <div class="row">
                    <div class="col s12 m10 offset-m1 l8 offset-l3">
                        
                         
                        <form action="/chemicalproduct/edit/<%= crop.data().language %>/<%= crop.id %>" name="content" method="POST" >    
                            <div class="input-field remove-margin">
                                <input type="text" name="name" id="crop-name" value="<%= crop.data().name %>" required>
                                <label for="crop-name">Chemical Prod. Name</label>
                            </div>
                           

                            <div class="input-field remove-margin">
                                <input type="text" name="sortOrder" id="crop-sort-order" value="<%= crop.data().sortOrder %>" required>
                                <label for="crop-sort-order">Sort Order</label>
                            </div>
                            Active Status
                            <p>
                                <label>
                                   <% if(crop.data().active === 'true'){ %>
                                        <input name="active" id="active" value="true" type="radio" checked required/>
                                    <% } else { %>
                                        <input name="active" id="active" value="true" type="radio" required/>
                                    <% } %>
                                 
                                  <span class="radio-val">Active</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                   <% if(crop.data().active === 'false'){ %>
                                        <input name="active" id="active" value="false" type="radio" checked />
                                   <% } else { %>
                                        <input name="active" id="active" value="false" type="radio" />
                                   <% } %>
                                  <span class="radio-val">Inactive</span>
                                </label>
                              </p>
                            
        
                           <button class="no-default white-text"> <a class="waves-effect waves-light btn-small margin-top-button">Update</a></button></a>
                        </form>
                    </div>
                   
                </div>
            </div>
    
        </div>
      
    </div>
   


    
    <%- include('../partials/footer'); -%>
    
    <script>
        $(document).ready(function(){
        $('.sidenav').sidenav();
        });


    </script>
</body>
</html>